{
  "presets": ["airbnb", "stage-1"],
  "plugins": [
    ["babel-root-import", [{
      "rootPathPrefix": "~",
      "rootPathSuffix": "src"
    }, {
      "rootPathPrefix": "@",
      "rootPathSuffix": "content"
    }]]
  ]
}
