.button {
  border-radius: 4px;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  border: 1px solid silver;
  background-color: white;

  &:last-child {
    margin-right: 0;
  }
}

.pill {

  cursor: pointer;
  border-radius: none;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0rem;
  border: 1px solid #5bb5b9;
  background-color: white;
  border-right: none;

  &:first-child {
    margin-left: 0.5rem;
  }

  &:last-child {
    margin-right: 0.5rem;
    border-right: 1px solid #5bb5b9;
  }

}
