@import 'variables.css';

.wrapper {
  background-color: white;
  /*background-color: #E31E2D;*/
  /*max-width: 250px;*/
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;

  & svg {
    /*fill: white;*/
    fill: #E31E2D;
    width: 100%;
  }
}
